:host{
  width: 100%;
}

table {
  width: 100%;
}

.actionsHeader {
  text-align: center !important;
}

.mat-column-id {
  width: 70px;
}

.mat-column-actions {
  width: 200px;
}

.deleteIcon {
  color: #de496f;
}

.b1 {
  margin-left: 37px;
  margin-right: 30px;
}
