.error {
    color: red;
}


.button {
    padding: 0 6px 0 6px;
    margin: 6px 8px 6px 8px;
    min-width: 300px;
    max-width: 400px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
}

.label {
    margin: 6px 8px 6px 8px;
    min-width: 300px;
    max-width: 400px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    border: none;
    outline: none;
}