.content {
  padding: 20px;
}

h1 {
  font-size: 30px;
}

.shortDescription {
  margin-top: 20px;
  margin-bottom: 25px;
}

.description {
  margin-top: 20px;
}

.comments {
  padding: 20px;
  width: 50%;
}

.showComments {
  background-color: aliceblue;
  margin: 20px 0;
  padding: 7px;
}
.author{
  font-weight: bold;
}
