:host{
  padding: 30px;
}

table {
    width: 100%;
}

.actionsHeader {
    text-align: center !important;
}

.mat-column-id {
    width: 70px;
}

.mat-column-actions {
    width: 200px;
}
.addButton{
    margin-left: 37px;
}

.editIcon {
    color: white;
}

.deleteIcon {
    color: #de496f;
}

.b1 {
    margin-left: 37px;
    margin-right: 30px;
}
